* {
    margin: -0;
    padding: 0;
}

body {
    font-family: 'MontSerrat', Arial, Helvetica, sans-serif;
    background-color: rgb(232, 232, 232);
}


h2 {
    font-size: 2rem;
    font-weight: 500;
}
h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 20px 0;
}
main {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    gap: 15px;
    padding: 10px;
}

input[type="number"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 130px;
}

button {
    border-radius: 30px;
    border: 0px;
    background-color: rgb(79, 68, 226);
    color: white;
    font-weight: 500;
    font-size: 1.05em;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: all 0.1s linear;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 20px rgb(59, 130, 246);
}
form{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notDone{
    background-color: #FFDBB6;
    width: 90%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.result{
    margin-bottom: 10px;
}

.right {
    background-color: #A1EEBD;
    width: 90%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.error{
    background-color: #EF665B;
    width: 90%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.imgContainer > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}
.imgContainer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.priceContainer > p {
    display: inline-block;
}

.imgRow {
    display: flex;
    gap: 30px;
}

.radio-nascosto {
  display: none;
}

.radio-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0; 
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.radio-label:hover {
  background-color: #e2e2e2;
}

.radio-nascosto:checked + .radio-label {
  background-color: #007bff; 
  color: white;
  border-color: #0056b3;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.radioContainer{
    display: flex;
}